div[data-testid="stAppViewBlockContainer"] {
    margin-left:-1.5%;
    margin-right:-1.5%;
    margin-top:-1.0%;
    background-image: url(https://img.fotocommunity.com/berlin-kottbusser-tor-9dcf658e-fbd7-485e-be42-bba75024679c.jpg?height=1080);
    size: cover;
}